
Software/SerialMemoryInterface/.vs/SerialMemoryInterface/v14/.suo
Software/SerialMemoryInterface/Debug/SerialMemoryInterface.pdb
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/main.obj
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.command.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-cvtres.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-cvtres.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-rc.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-rc.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.command.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/SerialMemoryInterface.lastbuildstate
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/unsuccessfulbuild
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMemoryInterface.log
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialPort.obj
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/vc140.idb
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/vc140.pdb
