
Software/SerialMemoryInterface/.vs/SerialMemoryInterface/v14/.suo
Software/SerialMemoryInterface/Debug/SerialMemoryInterface.pdb
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/main.obj
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.command.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/CL.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-cvtres.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-cvtres.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-rc.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link-rc.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.command.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.read.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/link.write.1.tlog
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/SerialMemoryInterface.lastbuildstate
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMe.1C11D5F1.tlog/unsuccessfulbuild
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialMemoryInterface.log
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/SerialPort.obj
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/vc140.idb
Software/SerialMemoryInterface/SerialMemoryInterface/Debug/vc140.pdb
Software/SerialMemoryInterface/SerialMemoryInterface.VC.VC.opendb
Software/MemoryInterface/.vs/MemoryInterface/v15/Browse.VC.db
Software/MemoryInterface/.vs/MemoryInterface/v15/Browse.VC.opendb
Software/MemoryInterface/Debug/MemoryInterface.exe
Software/MemoryInterface/Debug/MemoryInterface.ilk
Software/MemoryInterface/Debug/MemoryInterface.pdb
Software/MemoryInterface/.vs/MemoryInterface/v15/.suo
Software/MemoryInterface/.vs/MemoryInterface/v15/ipch/2d0bf99c4b11159.ipch
Software/MemoryInterface/.vs/MemoryInterface/v15/ipch/AutoPCH/3648ac292dbb77e8/MEMORYINTERFACE.ipch
Software/MemoryInterface/.vs/MemoryInterface/v15/ipch/AutoPCH/9f02ab158a160f0/MEMORYINTERFACE.ipch
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.log
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.obj
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/CL.command.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/CL.read.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/CL.write.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/link.command.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/link.read.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/link.write.1.tlog
Software/MemoryInterface/MemoryInterface/Debug/MemoryInterface.tlog/MemoryInterface.lastbuildstate
Software/MemoryInterface/MemoryInterface/Debug/vc141.idb
Software/MemoryInterface/MemoryInterface/Debug/vc141.pdb
